#header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 3rem;
  min-height: 25vh;
  width: 100%;
  max-width: 100vw;
}

.page-title {
  letter-spacing: 0.2rem;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 2em;
}
.todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  .todo-list-order {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    list-style: none;
    &.open {
      padding-bottom: 20px;
      border-bottom: solid 2px #626262;
    }
    &.close {
      padding-top: 20px;
    }
    .todo-card-container {
      width: 100%;
    }
  }
}
